//
   Created by frankubuntu on 15-4-5.
doctype
html
    head
        meta(charset="utf-8")
        title 访客系统
        include includes/head
        block import
    body
        include includes/header
        block content
        block js