//
   Created by frankubuntu on 15-4-5.
extends ../layout
block import
    //link(href="/libs/animatedModal/animate.min.css", rel="stylesheet" media="screen")
    //script(src="/libs/animatedModal/animatedModal.min.js")
block content
    .jumbotron.col-md-8.col-md-offset-2(style="text-align: center")
        h1 请登入！
block js
    script(src="/js/index.js")




