link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet" media="screen")
link(href="/libs/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css", rel="stylesheet" media="screen")
link(href="/style/vc.css", rel="stylesheet")
script(src="/libs/jquery/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/underscore/underscore-min.js")
script(src="/libs/backbone/backbone.js")
script(src="/common/utils.js")
//script(src="/libs/jquery-tmpl/jquery.tmpl.min.js")